@import '../../assets/sass/_variables';

.hero.is-fullheight {
	min-height: 500px;
	padding: 20px;
}
#app{
	background-color: #423A74;
}
.uz-hero-body{
	height: 500px;
	width: 1300px;
	background-color: #fff;
	padding: 30px;
	border-top-right-radius: 450px;
	border-bottom-right-radius: 450px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.uzguy {
	width: 230px;
}
.methodtlt{
	// border: 1px solid red;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.uzclock{
	width: 100px;
	padding-right: 15px;
}
.hero-right {
	padding: 60px 60px 0px 0px;
}
.hero-right h1{
	font-size: 40px;
}
.pasos {
	// border: 1px solid red;
	width: 600px;
	font-size: 18px;
	display: flex;
	padding: 10px;
	font-weight: bold;
}
.pasos ul li{
	padding: 8px;
}
@media (max-width: 769px) {
	.uz-hero-body{
		text-align: center;
		height: auto;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		width: auto;
		justify-content: center;
	}
	.hero-right{
		text-align: center;
		padding: 0;
	}
	.uzguy {
		width: 180px;
		margin-bottom: 50px;
	}
	.methodtlt{
		font-size: 20px;
		display: flex;
		justify-content: center;
	}
	.pasos{
		flex-wrap: wrap;
		width: auto;
		justify-content: center;
	}
}