@import '../../assets/sass/_variables';

.is-uzi-emoticon{
	width: 100px;
}
.app-hero{
	.columns{
		.box{
			transition: 0.3s;
			box-shadow: 0px 0px 1px rgb(220,220,220);
			&:hover{
				transition: 0.3s;
				transform: translateY(-10px) !important;
			}
		}
	}
}
