@import '../../assets/sass/_variables';
#team {
	background-color: #FA766A;
	// background-image: url("../../assets/images/plantas-bg.svg");
	// background-repeat: no-repeat;
	// background-size:  700px 1000px;
	// background-position: bottom; 
	padding: 0;
	margin: 0;
}
.hero-body{
	height: auto;
}
.founder {
	// border: 1px solid red;
	width: 210px;
	padding: 10px;
	&:hover{
		transform: scale(1.1);
		animation: cubic-bezier(ease-out)
	}
}
.title{
	font-weight: 800;
	color: #fff;
}
.founder a {
	color: $morado;
	font-weight: 800;
	font-size: 18px;
}
.avatar-img {
	display: block;
    height: auto;
	width: 400px;
}
.founder h3 {
	color: #fff;
}
.founders {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 80px;
}
.avatar-img {
	border: 2px solid #fff;
	padding: 5px;
}
.uzteamtl{
	color: #fff;
	font-weight: bold;
	font-size: 50px;
}
.montaña1{
	position: relative;
	width: 250px;
}
