@import '../../assets/sass/_variables';

.founder {
	// border: 1px solid red;
	width: 210px;
	padding: 10px;
	&:hover{
		transform: scale(1.1);
		animation: cubic-bezier(ease-out)
	}
}
// .title{
// 	font-weight: 800;
// 	color: $naranja;
// }
.founder a {
	color: $naranja;
	font-weight: 800;
	font-size: 18px;
}
.avatar-img {
	display: block;
    height: auto;
	width: 500px;
}
.founders {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 80px;
}