@import '../../assets/sass/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli');
*{
	font-family: 'Muli', sans-serif;
}
.uzmain{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.landing-section {
	background-color: #423A74;
	background-image: url("../../assets/images/nubes-bg.svg");
	background-size: 1500px;
	background-repeat: no-repeat;
	color: #fff;
	padding: 50px;
}
.uztitle{
	font-size: 45px;
	font-weight: 800;
	line-height: 1.25;
	margin-top: 30px;
}
.uzbold{
	font-weight: bolder;
}
.uzigirl {
	width: 160px;
	position: absolute;
	right: 80px;
	top: 430px;
}
.uzdesc{
	margin-top: 50px;
	margin-bottom: 30px;
	width: 550px;
	height: 71px;
	color: $rosa;
	font-size: 25px;
	font-weight: 500;
}
.uzbrandshort{
	font-family: 'Fredoka One', cursive;
}
.appbutton{
	width: 180px;
	height: 40px;
	font-size: 18px;
	appearance: none;
	background-color: #F55F52;
	border: none;
	color: #fff;
	margin-top: 50px;
	font-family: 'Muli', sans-serif;
	font-weight: 800;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border-radius: 50px;
}
.appbutton:hover{
	transform: scale(1.1)
}

.uzaprovecha{
	font-size: 17px;
	padding: 60px 0;
}

.uzcircle {
	padding: 30px;
	background-color: #3A326B;
	border-radius: 50%;
	text-align: center;
	width: 350px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.uzcircle h2 {
	font-weight: 800;
	font-size: 22px;
	color: #f55f52;
	padding-bottom: 20px;
}
.uzcircle h3 {
	font-size: 20px;
	font-weight: 800;
	padding-top: 20px;
}
@media (max-width: 769px) {
	.uztitle {
		font-size: 35px;
	}
	.uzdesc {
		width: auto;
		font-size: 23px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.uzmain{
		text-align: center;
	}
	.uzigirl{
		display: none;
	}
	.uzaprovecha{
		font-size: 20px;
	}
}